{% load static %}
<link rel="stylesheet" href="{% static "blog/base.css" %}">
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My Personal Learning Journey – {% block page_title %}Arjoo's Life{% endblock %}</title>
</head>

<body>
  <header id="site-header">
     <h1>My life Experiences</h1>
     <p>Welcome to the home page of my Life Experiences Blog!</p>
  </header>

  <nav id="top-nav">
    <ul>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="#">Posts</a></li>
      <li><a href="{% url 'topic-list' %}">Topics</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>

  <main id="main-content">
    <div>
      {% block main %}
      {% endblock %}
    </div>
    <aside id="sidebar">
      <section id="top_10_topics">
        <h3>Top Topics</h3>
        <ul>
          {% for data in top_10_topics %}
              <li>{{ data.topic.name }} ({{ data.post_count }} posts)</li>
          {% endfor %}
        </ul>
      </section>
    </aside>
  </main>

  <footer id="site-footer">
    Copyright &copy;{% now 'Y' %}
  </footer>
</body>
</html>
